@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}

/* ._toastContainer {
    top: var(--toastContainerTop, 1.5rem);
    right: var(--toastContainerRight, 2rem);
    bottom: var(--toastContainerBottom, auto);
    left: var(--toastContainerLeft, auto);
    z-index: var(--toastContainerZIndex, 9999);
  } */
  .grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
   
  
  }

  .grid span{
    overflow-wrap: normal
  }
